
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mat-card">
                <div class="container text-center">
                    <img src="../../../assets/logo1.png" alt="">
                </div>
                <h1 class="text-center">Register Here !!</h1>
                <form (ngSubmit)="formSubmit()" >
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>User Name</mat-label>
                        <input [(ngModel)]="user.username" name="username" matInput placeholder="Enter User Name" required>
                        <mat-hint>User name must be unique</mat-hint>
                        <mat-icon matSuffix></mat-icon>
                      </mat-form-field>
                        
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>User Password</mat-label>
                        <input [(ngModel)]="user.password" type="password" name="password" matInput placeholder="Enter Password " required="True">
                        <mat-icon matSuffix></mat-icon>
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" type="email" name="email" matInput placeholder="Enter Email" required="True">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="user.firstName" name="firstName" matInput placeholder="Enter First Name" required="True">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Enter Last Name" required="True">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Phone Number</mat-label>
                        <input [(ngModel)]="user.phone" name="phone" type="number" matInput placeholder="Enter Phone Number" required="True">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>
                    <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Register</button>
                    <button style="margin-left: 20px;" mat-raised-button color="accent">clear</button>
                </div>


                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>