<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
        
    
        <div class="col-md-12">
            <div class="container text-center">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Welcome to the Admin Dashboard</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-card class="card_" routerLink="/admin/show-users">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <h3>Users</h3>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="container text-center">
                                                    <img src="https://www.pngkit.com/png/full/412-4125178_manage-users-learning-team-vector-icon-png.png" alt="" class="profile-image">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>

                            </div>

                            <div class="col-md-6">
                                <mat-card class="card_" routerLink="/admin/categories">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <h3>Quiz Categories</h3>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="container text-center">
                                                    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/categories-988842.png" alt="" class="profile-image">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>


                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-6">
                                <mat-card class="card_" routerLink="/admin/quizes">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <h3>Quizes</h3>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="container text-center">
                                                    <img src="https://www.pngmart.com/files/19/Quiz-PNG-Image.png" alt="" class="profile-image">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>

                            </div>
                            
                            <div class="col-md-6">
                                <mat-card class="card_" routerLink="/admin/show-results">
                                    <mat-card-header>
                                        <mat-card-title>
                                            <h3>Attempted</h3>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="container text-center">
                                                    <img src="https://thumbs.dreamstime.com/b/business-to-do-list-flat-icon-modern-style-task-list-business-to-do-list-flat-icon-modern-style-any-purposes-perfect-web-138650221.jpg" alt="" class="profile-image">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>


                        </div>
                    </mat-card-content>

                 

                </mat-card>
            </div>
        </div>
    
        </div>
    </div>
</div>
