<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-list-item routerLink="/admin/profile"> 
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-list-item routerLink="/admin/categories"> 
            <mat-icon mat-list-icon>list</mat-icon>
            <span>Categories</span>
        </button>
        <button mat-list-item routerLink="/admin/add-categories"> 
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>
            <span>Add Categories</span>
        </button>
        <button mat-list-item routerLink="/admin/quizes"> 
            <mat-icon mat-list-icon>quiz</mat-icon>
            <span>Quizes</span>
        </button>

        <button mat-list-item routerLink="/admin/add-quiz"> 
            <mat-icon mat-list-icon>add_box</mat-icon>
            <span>Add Quizes</span>
        </button>

        <button mat-list-item (click)="logout()"> 
            <mat-icon mat-list-icon>logout</mat-icon>
            <span>Logout</span>
        </button>

        
    </mat-action-list>
</mat-card>