<mat-card>
  <h2>Add New Category</h2>
  
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-6 offset-md-3">
       <form (ngSubmit)="formSubmit()">
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Title</mat-label>
            <input type="text" name="title" matInput placeholder="Enter Title Here" [(ngModel)]="category.title">
           
          </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
                <mat-label>Description</mat-label>
            <textarea name="description" matInput placeholder="Enter Description Here" rows="15" [(ngModel)]="category.description"></textarea>
            </mat-form-field>

            <div class="container text-center" style="margin-top: 20px;">
                <button mat-raised-button color="accent">Add</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
