.table{
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgb(57, 43, 253);
    border-collapse: collapse;
    /* create line  */
    border-spacing: 0;
    font-size: 14px;
    color: rgb(253, 43, 190);
    font-family: 'Roboto', sans-serif;
  
    
    
    
}
.table tr td{
    padding: 15px  50px;
    border: 1px solid rgb(57, 43, 253);
    border-radius: 5px;
    
    margin: 15px 10px 0px 10px;
    


}
 .new{
     margin-top: 20px;
    border: 1px solid red;
}