<div class="bootstrap-wrapper">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <h2>
                <b>Add Questions to {{ qtitle }} </b>
            </h2>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        <b>Enter the details of the new Questions</b>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form style="margin-top: 20px"
                    (submit)="formSubmit()"
                    >
                    <ckeditor [editor]="Editor" 
                    data="<h3>Question Content</h3>"
                    [(ngModel)]="question.content"
                    name="content"
                    ></ckeditor>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%" appearance="fill">
                                    <mat-label> <b>Write Option 1 </b></mat-label>
                                    <input matInput placeholder="Option 1" [(ngModel)]="question.option1"
                                        name="option1" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field style="width: 100%" appearance="fill">
                                    <mat-label> <b>Write Option 2 </b></mat-label>
                                    <input matInput placeholder="Option 2" [(ngModel)]="question.option2"
                                        name="option2" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%" appearance="fill">
                                    <mat-label><b> Write Option 3</b> </mat-label>
                                    <input matInput placeholder="Option 3" [(ngModel)]="question.option3"
                                        name="option3" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field style="width: 100%" appearance="fill">
                                    <mat-label> <b>Write Option 4 </b></mat-label>
                                    <input matInput placeholder="Option 4" [(ngModel)]="question.option4"
                                        name="option4" />
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field style="width: 100%" appearance="fill">
                            <mat-label><b> Select Correct Answer </b> </mat-label>
                            <mat-select required="true" [(ngModel)]="question.answer" name="answer">
                                <mat-option *ngIf="question.option1" [value]="question.option1">
                                    {{ question.option1 }}
                                </mat-option>
                                <mat-option *ngIf="question.option2" [value]="question.option2">
                                    {{ question.option2 }}
                                </mat-option>
                                <mat-option *ngIf="question.option3" [value]="question.option3">
                                    {{ question.option3 }}
                                </mat-option>
                                <mat-option *ngIf="question.option4" [value]="question.option4">
                                    {{ question.option4 }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color="accent" style="margin-top: 20px">
                                Add Question
                            </button>
                        </div>
                    </form>
                </mat-card-content>
                
            </mat-card>
        </div>
    </div>
</div>

