<div class="section">
    <b><h3>An  Exam Portal is a technology based assessment creation that allows you to give exams anywhere. <br/>It consists of a variety of objective questions like Programming , Quantitative Aptitude, Verbal Communucation.</h3></b>
    <button>Explore More</button>
    <div class="video-container">
    <video playsinline autoplay muted loop  id="myVideo">
        <source src="../../../../../assets/video.mp4" type="video/mp4">
        <source src="../../../../../assets/video.mp4" type="video/mp4">
        <source src="../../../../../assets/video.mp4" type="video/mp4">
        <source src="../../../../../assets/video.mp4" type="video/mp4">
        <source src="../../../../../assets/video.mp4" type="video/mp4">
      </video>
    </div>
    
</div>
